@import "variables";
.navbar {
	font-family: "Poppins", sans-serif;
}
.active {
	color: $prim-color !important;
}
.carousel .carousel-item {
	overflow-x: hidden;
	height: 100vh;
}
.carousel-inner {
	&::before {
		content: " ";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
		z-index: 13;
		opacity: 0.3;
	}
}

.carousel-item img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.header__logo {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 13;
	img {
		width: 30rem;
	}
}
.Main__text--bg-green {
	background-color: $sec-color;
}
.main__text {
	font-size: 1.5rem;
	line-height: 2.5rem;
}
footer {
	background-color: $foot-color;
}
.list__hours {
	&--size {
		font-size: 1.5rem;
	}
}
